@charset "utf-8";
/*
    Template.css
*/

/********** Default : Mobile **********/
/*** Common ***/
/** Font **/
.t_point {color:#00adef;}
.t_point02 {color:#002e54;}
.t_tx02 {color:#666 !important;}

/** Text **/
.t_line {display:inline-block;position:relative;transition:color 0.4s;}
.t_line:before {position:absolute;left:0;bottom:0;width:100%;height:1px;background:#666;content:"";}
.t_line:after {position:absolute;left:0;bottom:0;width:0;height:1px;background:#00adef;content:"";transition:width 0.6s 0.2s;}
.t_line:hover {color:#00adef;}
.t_line:hover:before {width:0;transition:width 0.4s;}
.t_line:hover:after {width:100%;}

.t_line02 {display:inline-block;position:relative;color:#00adef;transition:color 0.4s;}
.t_line02:after {position:absolute;left:0;bottom:0;width:0;height:1px;background:#00adef;content:"";transition:width 0.6s;}
.t_line02:hover:after {width:100%;}

.t_line03 {display:inline-block;position:relative;color:#fff;transition:color 0.4s;}
.t_line03:after {position:absolute;left:0;bottom:0;width:0;height:1px;background:#fff;content:"";transition:width 0.6s;}
.t_line03:hover:after {width:100%;}

.txt_ty .b1 {position:relative;padding-left:10px !important;}
.txt_ty .b1:before {position:absolute;left:0;top:8px;width:4px;height:1px;background:#666;content:"";}

/* txt_info */
.txt_info {padding-bottom:15px;}
.txt_info li {position:relative;margin-top:5px;padding-left:9px;}
.txt_info li:first-child {margin-top:0;}
.txt_info li:before {position:absolute;left:1px;top:9px;width:3px;height:3px;background:#666;content:"";}

.txt_info02 {padding-bottom:15px;}
.txt_info02 li {position:relative;margin-top:5px;padding-left:9px;}
.txt_info02 li:first-child {margin-top:0;}
.txt_info02 li:before {position:absolute;left:1px;top:11px;width:3px;height:1px;background:#666;content:"";}

.img_w {display:none;}
.img_m {display:block;}



/** Etc. **/
.br {display:inline-block;}
.mbr {display:block;}
.txt_w_only, .txt_w_only02 {display:none;}
.tl {text-align:left}



/*** Form Common Style ***/
/* input */
.input_ty {width:100%;height:40px;padding:0 12px;background:#fff;border:1px solid #ddd;box-sizing:border-box;color:#212121;font-family:'Actual','Malgun Gothic','맑은 고딕',Apple Gothic,arial,helvetica,sans-serif;font-size:14px;font-weight:normal;vertical-align:top;;transition:background 0.3s, border 0.3s;}
.input_ty.center {padding:0 2px;text-align:center;}
.input_ty:focus {outline-style:none;border-color:#000;}

::-webkit-input-placeholder {color:#ccc;font-size:13px;}
::-moz-placeholder {color:#ccc;font-size:13px;}
:-ms-input-placeholder {color:#ccc;font-size:13px;}
::placeholder {color:#ccc;font-size:13px;}

/* ezMark jQuery Plugin */
.radio_ty {width:22px;height:22px;line-height:22px;vertical-align:top;}
.chk_ty {width:22px;height:22px;line-height:22px;vertical-align:top;}
.ez-hide {opacity:0;filter:alpha(opacity=0);}
.ez-checkbox {display:inline-block;background:url(../images/template/bg_checkbox.png) center /100% 100% no-repeat;vertical-align:middle;transition:background 0.4s;}
.ez-radio {display:inline-block;background:url(../images/template/bg_radio.png) center /100% 100% no-repeat;vertical-align:middle;transition:background 0.4s;}
.ez-checkbox, .ez-radio {zoom:1;*display:inline;line-height:18px;}
.ez-checked {background:url(../images/template/bg_checkbox_on.png) center /100% 100% no-repeat;}
.ez-selected {background:url(../images/template/bg_radio_on.png) center /100% 100% no-repeat;}


/* select */
.select_ty {width:100%;height:40px;padding:0 20px 0 12px;background:#fff url(../images/template/ico_select_ty.png) right center /25px 8px  no-repeat;border:1px solid #ddd;box-sizing:border-box;color:#212121;font-family:'Actual','Malgun Gothic','맑은 고딕',Apple Gothic,arial,helvetica,sans-serif;font-size:14px;font-weight:normal;vertical-align:top;;transition:background 0.3s, border 0.3s;appearance:none;-moz-appearance:none;}
.select_ty:focus {outline-style:none;border-color:#000;}
.select_ty::-ms-expand {display:none;}


/* textarea */
textarea {width:100%;height:150px;padding:10px 12px;background:#fff;border:1px solid #ddd;box-sizing:border-box;color:#212121;font-family:'Actual','Malgun Gothic','맑은 고딕',Apple Gothic,arial,helvetica,sans-serif;font-size:14px;font-weight:normal;vertical-align:top;;transition:background 0.3s, border 0.3s;}
textarea:focus {outline-style:none;border-color:#000;}

/* Size */
.w1 {width:100%;}
.w2 {width:100%;}
.w3 {width:100%;}



/*** next_step_cont ***/
.next_step_cont {display:none;animation:fade both 0.4s;}
.next_step_cont.on {display:block;}



/*** Tab ***/
/* tab_ty */
.tab_ty {margin:0 -20px 30px -20px;}
.tab_ty div {display:table;table-layout:fixed;width:100%;border-bottom:1px solid #009ee3;}
.tab_ty a {display:table-cell;position:relative;height:49px;padding:0 5px;border:solid #ddd;border-width:1px 1px 0 0;color:#ddd;font-size:14px;font-weight:600;line-height:16px;text-align:center;vertical-align:middle;transition:all 0.4s;}
.tab_ty a:first-child {border-width:1px 1px 0 1px;}
.tab_ty a:before {position:absolute;left:50%;bottom:-1px;width:0;height:1px;background:#000;content:"";transition:all 0.4s;}
.tab_ty a:hover {color:#999;}
.tab_ty a:hover:before {left:0;width:100%;}
.tab_ty a.on {background:#009ee3;border-color:#009ee3;color:#fff;}
.tab_ty a.on:before {display:none;}
.tab_ty a.bold_t{font-size:21px;}

/* tab_cont */
.tab_cont {position:relative;display:none;animation:fade both 0.4s;}
.tab_cont.on {display:block;}



/*** Table ***/
/** table_ty  **/
.table_ty {margin:0 -20px;border:solid #000;border-width:1px 0;}
.table_ty table {width:100%;}
.table_ty th, .table_ty td {padding:10px;border-top:1px solid #eee;color:#999;font-size:14px;font-weight:normal;line-height:18px;vertical-align:middle;word-wrap:break-word;word-break:keep-all;}
.table_ty thead th {color:#000;}
.table_ty tbody th {height:25px;color:#000;}
.table_ty tbody td {height:20px;background:#fff;}
.table_ty tbody tr:first-child th, .table_ty tbody tr:first-child td {border-top:0;}
.table_ty .left {text-align:left;padding-left:20px;}
.table_ty .right {text-align:right;padding-right:20px;}


/** table_list_box **/
.table_list_box {position:relative;padding-top:50px;}
.table_list_box .info_es {margin-bottom:15px;font-size:11px;line-height:11px;text-align:right;}
.table_list_box .info_es span {display:inline-block;position:relative;padding-left:33px;}
.table_list_box .info_es span:before {position:absolute;left:0;top:50%;width:25px;height:1px;background:#009ee3;content:"";}


/* table_list */
.table_list {position:relative;margin:0 -20px;padding:40px 20px 50px 20px;border:solid #000;border-width:1px 0;}
.table_list .list {margin-top:50px;}
.table_list .list:first-child {margin-top:0;}
.table_list .list dt {position:relative;margin:-5px 0 15px 0;color:#000;font-size:14px;line-height:20px;}
.table_list .list dt .ico_es {display:inline-block;position:relative;padding-bottom:2px;}
.table_list .list dt .ico_es:after {display:block;position:absolute;left:0;bottom:0;width:25px;height:1px;background:#009ee3;content:"";}
.table_list .list dt .ico_es em {position:absolute;left:-9999px;top:-9999px;font-size:0;}
.table_list .list label {display:inline-block;position:relative;top:2px;padding:0 0 0 6px;line-height:22px;}
.table_list .input_ty, .table_list .select_ty {margin-top:10px;}
.table_list .input_ty.input_ty:first-child, .table_list .select_ty:first-child {margin-top:0;}
.table_list .inner {display:table-cell;height:40px;color:#666;font-size:14px;line-height:20px;vertical-align:middle;}
.table_list .inner .pd {padding-left:26px;}
.table_list .inner .pd:first-child {padding-left:0;}
.table_list .zip_code_area {position:relative;min-height:40px;margin:0 0 10px 0;padding-left:120px;}
.table_list .zip_code_area .input_ty {margin-top:0;}
.table_list .btn_zipcode {display:block;position:absolute;left:0;top:0;width:110px;height:40px;border:1px solid #666;box-sizing:border-box;color:#000;font-size:15px;line-height:40px;text-align:center;transition:all 0.4s;}
.table_list .btn_zipcode:hover {background:#f4f4f4;}

/* chk_agree */
.chk_agree {position:relative;margin:-1px -20px 0 -20px;padding:40px 30px 40px 30px;background:#f8f8f8;text-align:center;transition:all 0.4s;}
.chk_agree p {display:block;margin-top:10px;color:#000;font-size:14px;line-height:22px;}
.chk_agree label {display:inline-block;color:#000;font-size:14px;line-height:22px;}
.chk_agree a {display:inline-block;color:#000;font-size:14px;line-height:22px;}
.chk_agree .chk_ty {width:30px;height:30px;}

.chk_agree_box {margin:-1px -20px 0 -20px;padding:38px 20px 0 20px;background:#f8f8f8;}
.chk_agree_box .list {margin-bottom:43px;}
.chk_agree_box .list:first-child {margin-top:43px;}
.chk_agree_box .list dt {margin-bottom:8px;color:#000;font-size:14px;font-weight:600;line-height:20px;}
.chk_agree_box .list dd li {position:relative;margin-top:8px;font-size:14px;line-height:20px;}
.chk_agree_box .list dd li:first-child {margin-top:0;}
.chk_agree_box .list dd li:before {position:absolute;left:0;top:19px;width:14px;height:1px;background:#009ee3;content:"";}
.chk_agree_box .list dd.chk {margin:20px 0 -2px 0;}
.chk_agree_box .list dd label {display:inline-block;color:#000;font-size:14px;line-height:24px;vertical-align:top;}
.chk_agree_box .list .ez-checkbox {background:url(../images/template/bg_checkbox03.png) center /100% 100% no-repeat;}
.chk_agree_box .list .ez-checked {background:url(../images/template/bg_checkbox03_on.png) center /100% 100% no-repeat;}
.chk_agree_box .chk_agree {position:relative;padding:30px 20px 0 60px;background:#fff;text-align:left;}
.chk_agree_box .chk_agree .ez-checkbox {position:absolute;left:20px;top:50%;}
.chk_agree p {margin-top:0;}



/*** Board ***/
/** board_search **/
.board_search {position:relative;margin-bottom:20px;padding-right:84px;font-size:0;}
.board_search .input_ty {width:100%;}
.board_search .btn {display:inline-block;position:absolute;right:0;top:0;width:85px;height:40px;background:#002e54;color:#fff;font-size:14px;line-height:40px;text-align:center;transition:all 0.4s;}
.board_search .btn:hover {background:#011d3d;}


/** board_ty **/
.board_ty {position:relative;margin:-20px 0 0 -20px;}
.board_ty .list {position:relative;float:left;width:calc(100% - 20px);margin:20px 0 0 20px;transition:all 0.4s;}
.board_ty .list > a {display:block;background:#fff;border:1px solid #ddd;box-sizing:border-box;overflow:hidden;transition:all 0.4s;}
.board_ty .list > a:before {position:absolute;left:8px;top:7px;width:0;height:1px;background:#ccc;content:"";}
.board_ty .list > a:after {position:absolute;right:7px;top:7px;width:1px;height:0;background:#ccc;content:"";}
.board_ty .list > a .txt:before {position:absolute;right:7px;bottom:7px;width:0;height:1px;background:#ccc;content:"";}
.board_ty .list > a .txt:after {position:absolute;left:7px;bottom:7px;width:1px;height:0;background:#ccc;content:"";}
.board_ty .list > a:hover:before {width:calc(100% - 15px);transition:all linear 0.2s;}
.board_ty .list > a:hover:after {height:calc(100% - 15px);transition:all linear 0.2s 0.2s;}
.board_ty .list > a:hover .txt:before {width:calc(100% - 14px);transition:all linear 0.2s 0.4s;}
.board_ty .list > a:hover .txt:after {height:calc(100% - 14px);transition:all linear 0.2s 0.6s;}
.board_ty .list:nth-child(1) > a {background:#009ee3;border-color:#009ee3;}
.board_ty .list:nth-child(2) > a, .board_ty .list:nth-child(6) > a {background:#fff;border:1px solid #ddd;}
.board_ty .list:nth-child(3) > a, .board_ty .list:nth-child(5) > a {background:#f4f4f4;border-color:#f4f4f4;}
.board_ty .list:nth-child(4) > a {background:#002e54;border-color:#002e54;}
.board_ty .list:nth-child(1) .txt, .board_ty .list:nth-child(4) .txt {color:#fff;}
.board_ty .list:nth-child(1) .txt dt em, .board_ty .list:nth-child(4) .txt dt em {color:#fff;}
.board_ty .list:nth-child(1) > a:before, .board_ty .list:nth-child(4) > a:before {background:#fff;}
.board_ty .list:nth-child(1) > a:after, .board_ty .list:nth-child(4) > a:after {background:#fff;}
.board_ty .list:nth-child(1) > a .txt:before, .board_ty .list:nth-child(4) > a .txt:before {background:#fff;}
.board_ty .list:nth-child(1) > a .txt:after, .board_ty .list:nth-child(4) > a .txt:after {background:#fff;}
.board_ty .hit {display:none;}
.board_ty .txt {position:relative;width:100%;height:100%;padding:23px 25px;box-sizing:border-box;color:#000;}
.board_ty .txt dt em {display:block;color:#999;font-size:11px;line-height:11px;}
.board_ty .txt dt span {display:block;margin-top:16px;font-size:16px;line-height:20px;font-weight:600;letter-spacing:-0.5px;}
.board_ty .txt dd {margin-top:14px;font-size:13px;line-height:18px;}
.board_ty .emp {float:none;padding:30px 0 0 30px;text-align:center;}
.board_ty .emp p {padding:80px 0;border:solid #ddd;border-width:1px 0;}
.board_ty:after {display:block;clear:both;height:0;content:"";overflow:hidden;}




/** board_view **/
.board_view {position:relative;margin:0 -20px;border:solid #000;border-width:1px 0;}
.board_view .list {position:relative;padding:12px 20px;border-top:1px solid #ddd;font-size:14px;line-height:22px;overflow:hidden;transition:all 0.4s;}
.board_view .list.tit {padding:16px 20px 18px 20px;background:#f4f4f4;border-top:0;color:#000;font-size:16px;line-height:22px;font-weight:600;}
.board_view .list.tit .info {display:block;margin-top:5px;color:#666;font-size:11px;font-weight:normal;line-height:11px;}
.board_view .t_file {display:inline-block;position:relative;padding-left:20px;background: url(../images/template/ico_t_file.png) 2px 60%/10px 12px no-repeat;}
.board_view .t_file:after {position:absolute;left:19px;width:0;bottom:0;height:1px;background:#666;content:"";transition:all 0.6s;}
.board_view .t_file:hover:after {width:calc(100% - 18px);}
.board_view .table_cont {padding:30px 20px 27px 20px;}
.board_view .table_cont img {width:100% !important;height:inherit !important;text-align:center;}
.board_view .table_cont p {margin-top:20px;}
.board_view .table_cont p:first-child {margin-top:0;}
.board_view .table_cont p.mb {margin:0 0 10px 0;color:#000;}
.board_view .table_cont .dep {padding-top:50px;}
.board_view .table_cont .dep02 {padding-top:20px;}
.board_view .table_cont dt {margin-bottom:-12px;color:#333;font-size:15px;font-weight:600;}
.board_view .table_cont dd {margin-top:20px;}
.board_view .table_cont dd:first-child {margin-top:0;}
.board_view .table_cont.ty02 img {width:inherit !important;max-width:100% !important;height:inherit !important;text-align:center;}



/* btn_board_sns */
.btn_board_sns {padding:0 20px 30px 20px;font-size:0;text-align:center;}
.btn_board_sns li {display:inline-block;margin:0 5px;vertical-align:top;}
.btn_board_sns li a {display:block;width:32px;height:32px;border:1px solid #ddd;border-radius:100%;overflow:hidden;transition:all 0.4s;}
.btn_board_sns li img {width:100%;}
.btn_board_sns li a:hover {border-color:#333;}
.btn_board_sns li.sns_instagram a {background:url(../images/template/btn_board_sns_instagram.png) center /100% 100% no-repeat;}
.btn_board_sns li.sns_youtube a {background:url(../images/template/btn_board_sns_youtube.png) center /100% 100% no-repeat;}
.btn_board_sns li.sns_facebook a {background:url(../images/template/btn_board_sns_facebook.png) center /100% 100% no-repeat;}
.btn_board_sns li.sns_wechat a {background:url(../images/template/btn_board_sns_wechat.png) center /100% 100% no-repeat;}
.btn_board_sns li.sns_instagram a:hover {background:url(../images/template/btn_board_sns_instagram_on.png) center /100% 100% no-repeat;}
.btn_board_sns li.sns_youtube a:hover {background:url(../images/template/btn_board_sns_youtube_on.png) center /100% 100% no-repeat;}
.btn_board_sns li.sns_facebook a:hover {background:url(../images/template/btn_board_sns_facebook_on.png) center /100% 100% no-repeat;}
.btn_board_sns li.sns_wechat a:hover {background:url(../images/template/btn_board_sns_wechat_on.png) center /100% 100% no-repeat;}


/** paginate **/
.paginate {height:35px;margin-top:22px;font-size:0;text-align:center;}
.paginate a {display:block;position:relative;height:35px;box-sizing:border-box;}
.paginate ul, .paginate ul li {display:inline-block;vertical-align:top;}
.paginate li {margin:0 2px;}
.paginate li a {width:30px;font-size:14px;color:#000;line-height:35px;text-align:center;}
.paginate li a:before {position:absolute;left:50%;bottom:0;width:0;height:1px;background:#000;content:"";transition:all 0.4s;}
.paginate li a:hover:before {left:0;width:100%;}
.paginate li.on a {color:#00adef;font-size:15px;font-weight:600;}
.paginate li.on a:before {background:#00adef;}
.paginate div {display:inline-block;position:relative;width:35px;height:35px;}
.paginate div a {width:35px;border:1px solid #ddd;text-indent:-9999px;overflow:hidden;transition:all 0.4s;}
.paginate div a:hover {border-color:#000;}
.paginate .prev {margin-right:15px;}
.paginate .prev a {background:url(../images/template/ico_paginate_prev.png) center /10px 15px no-repeat;}
.paginate .next {margin-left:15px;}
.paginate .next a {background:url(../images/template/ico_paginate_next.png) center /10px 15px no-repeat;}



/*** Accordian_ty ***/
.accordian_ty {position:relative;margin:0 -20px;border:solid #000;border-width:1px 0;}
.accordian_ty .list {position:relative;background:#f4f4f4;border-top:1px solid #eee;font-size:14px;line-height:20px;overflow:hidden;transition:all 0.4s;}
.accordian_ty .list:first-child {border-top:0;padding-bottom:0}
.accordian_ty .list .btn {display:block;position:relative;background:#fff;transition:color 0.6s;}
.accordian_ty .list .btn span {display:table-cell;height:82px;padding:0 60px 0 20px;box-sizing:border-box;vertical-align:middle;}
.accordian_ty .list .btn:after {position:absolute;right:20px;top:50%;width:22px;height:12px;margin-top:-6px;background:url(../images/template/ico_accordian_ty.png) center /100% 100% no-repeat;content:"";transition:all 0.4s;}
.accordian_ty .list .btn:hover {color:#000;}
.accordian_ty .list .view {display:none;position:relative;padding:34px 20px 36px 20px;background:#f4f4f4;border-top:1px solid #eee;box-sizing:border-box;overflow:hidden;animation:fade both 0.6s;}
.accordian_ty .list .view .mt {margin-top:20px;}
.accordian_ty .list .view .img{padding-top:25px;}
.accordian_ty .list .view .img img {max-width:300px;}
.accordian_ty .list .view .center {text-align:center;}
.accordian_ty .list.on .btn:after {transform:rotate(-180deg);}
.accordian_ty .list.on .view {display:block;}

/* faq_list */
.faq_list {position:relative;margin:0;border:solid #999999;border-width:1px 0;}
.faq_list .list{border-top:1px solid #dddddd;}
.faq_list .list dt {position:relative;width:90px;margin:20px 0 15px 0;color:#666666;float:left;}
.faq_list .list dt  strong{display:block;color:#000}
.faq_list .list dd{position:relative;width:calc(100% - 110px);float:right;padding-top:20px;}
.faq_list .list dd .b1 li{position:relative;padding-left:13px}
.faq_list .list dd .b1 li:before{content:"-";display:block;position:absolute;left:4px;top:0;font-size:16px;}
.faq_list .list dd .t_box{padding-bottom:12px;}
.faq_list .list dd .t_box .noti{color:#999999;font-size:13px;}

/*** Btn ***/
/* btn_area */
.btn_area {margin-top:20px;font-size:0;}
.btn_area.mt {margin-top:40px;}
.btn_area li {text-align:center;}
.btn_area li a {margin:0 4px;}
.btn_area:after {display:block;clear:both; content:"";height:0;}


/* btn size */
.btn_b {display:inline-block;position:relative;height:50px;padding:0 20px;font-size:12px;font-weight:600;line-height:50px;letter-spacing:-0.3px;}
.btn_m {display:inline-block;position:relative;height:40px;padding:0 38px;font-size:12px;font-weight:600;line-height:40px;}

/* btn color */
.btn_ty {background:#00adef;color:#fff;transition:all 0.4s;}
.btn_ty:hover {background:#007eb5;}
.btn_ty02 {background:#002e54;color:#fff;transition:all 0.4s;}
.btn_ty02:hover {background:#011d3d;}
.btn_ty03 {background:#666;color:#fff;transition:all 0.4s;}
.btn_ty03:hover {background:#555;}
.btn_ty04 {background:#fff;border:1px solid #00adef;box-sizing:border-box;color:#00adef;transition:all 0.4s;}
.btn_ty04:hover {border-color:#007eb5;color:#007eb5;}
.btn_ty05 {background:#fff;border:1px solid #ddd;box-sizing:border-box;color:#000;transition:all 0.4s;}
.btn_ty05:hover {border-color:#333;}
.btn_ty06 {background:#fff;border:1px solid #333;box-sizing:border-box;color:#000;transition:all 0.4s;}
.btn_ty06:hover {border-color:#000;}

/* Etc. */
.btn_arrow {padding-right:60px;background:#102254;color:#fff;text-transform:uppercase;transition:all 0.4s;}
.btn_arrow:hover {background:#081538;}
.btn_arrow span {display:block;position:absolute;right:30px;top:50%;width:20px;height:20px;margin-top:-10px;transform:scale(0.8);}
.btn_arrow span:before {position:absolute;left:0;top:9px;width:100%;height:2px;background:#00adef;content:"";}
.btn_arrow em {position:absolute;right:-5px;top:1px;width:12px;height:12px;transform:rotate(45deg);transform-origin:left top;}
.btn_arrow em:before {position:absolute;left:0;top:0;width:100%;height:2px;background:#00adef;content:"";}
.btn_arrow em:after {position:absolute;right:0;top:0;width:2px;height:100%;background:#00adef;content:"";}
.btn_arrow:hover span:before {animation:width both 0.55s;}
.btn_arrow:hover em:before {animation:width both 0.3s 0.3s;}
.btn_arrow:hover em:after {animation:height both 0.3s 0.4s;}

.btn_round {display:inline-block;height:30px;padding:0 15px;border-radius:60px;font-size:12px;line-height:30px;overflow:hidden;}

/* btn_more */
.btn_more {display:inline-block;position:relative;color:#00adef;font-size:16px;font-weight:600;line-height:16px;text-transform:uppercase;}
.btn_more:after {display:block;position:absolute;left:0;bottom:-4px;width:100%;height:2px;background:#00adef;content:"";}
.btn_more:hover:after {animation:width50 both 0.4s 0.2s;}

/* btn_line */
.btn_line {display:inline-block;position:relative;padding-bottom:3px;color:#965ae8;font-size:12px;font-weight:600;line-height:14px;text-transform:uppercase;}
.btn_line:after {position:absolute;left:0;bottom:0;width:100%;height:2px;background:#00adef;content:"";}
.btn_line:hover:after {animation:width both 0.6s;}

/* btn_download */
.btn_download {position:relative;max-width:300px;margin:50px auto 15px auto;padding:0 30px;z-index:5;}
.btn_download .btn {display:block;position:relative;width:100%;height:50px;padding:0 20px;background:#102254;box-sizing:border-box;color:#fff;font-size:14px;font-weight:600;line-height:50px;text-align:left;text-transform:uppercase;transition:all 0.4s;}
.btn_download .btn:hover {background:#081538;}
.btn_download .btn span {display:block;position:absolute;right:17px;top:50%;width:20px;height:20px;margin-top:-5px;transform:scale(0.8);transform-origin:20% 20%;transition:transform 0.4s;}
.btn_download .btn em {position:absolute;right:-5px;top:1px;width:12px;height:12px;transform:rotate(135deg);transform-origin:left top;}
.btn_download .btn em:before {position:absolute;left:0;top:0;width:100%;height:2px;background:#00adef;content:"";}
.btn_download .btn em:after {position:absolute;right:0;top:0;width:2px;height:100%;background:#00adef;content:"";}
.btn_download_list {position:absolute;left:0;top:50px;width:100%;height:0;text-align:left;transition:height 0.6s;overflow:hidden;}
.btn_download_list ul {margin:0 30px;box-shadow:4px 8px 14px 0 rgba(0,0,0,0.2);}
.btn_download_list li a {display:block;position:relative;height:50px;padding:0 20px;background:#f8f8f8;color:#ccc;font-size:13px;font-weight:600;line-height:50px;transition:all 0.4s;}
.btn_download_list li a:after {position:absolute;right:23px;top:50%;width:14px;height:11px;margin-top:-6px;background:url(../images/template/ico_download.png) center /100% 100% no-repeat;content:"";transition:all 0.4s;}
.btn_download_list li a:hover {background:#009ee3;color:#fff;}
.btn_download_list li a:hover:after {background:url(../images/template/ico_download_on.png) center /100% 100% no-repeat;}
.btn_download.on .btn span {transform:rotate(-180deg) scale(0.8);}
.btn_download.on .btn_download_list {height:260px;}
.btn_download.only {margin:0 auto 30px auto;}
html[lang="ko"] .btn_download {display:none;}



/*** Etc ***/
/* player_cont */
.player_cont .movie {position:relative;}
.player_cont .movie .hit img {width:100%;}
.player_cont .movie iframe {position:absolute;left:0;top:0;width:100%;height:100%;}
.player_cont .movie .btn_movie_play {position:absolute;left:0;top:0;width:100%;height:100%;}
.player_cont .movie .btn_movie_play em {display:block;position:absolute;left:50%;top:50%;width:50px;height:50px;margin:-23px 0 0 -23px;border:2px solid #fff;border-radius:100%;box-sizing:border-box;text-indent:-9999px;overflow:hidden;}
.player_cont .movie .btn_movie_play em:after {position:absolute;left:0;top:0;width:100%;height:100%;background:url(../images/main/ico_movie_play.png) center /100% no-repeat;content:"";}
.player_cont .movie .btn_movie_play:hover em:after {animation:moviePlay both linear infinite 1.4s 0.2s;}






/*** Popup ***/
/** Popup Default **/
.modal {display:none;}
.modal_wrap {position:relative;width:calc(100vw - 120px);max-width:1200px;}
.modal_wrap.wm {max-width:900px;}
.modal_header {position:relative;padding:16px 60px 16px 20px;background:#38393e;box-sizing:border-box;}
.modal_header .pop_tit {position:relative;padding:6px 0;color:#fff;font-size:16px;font-weight:600;line-height:20px;text-align:left;transition:all 0.4s;}
.modal_header .pop_tit:after {position:absolute;left:0;bottom:0;width:12px;height:2px;background:#00adef;content:"";}
.modal_header .pop_tit .hw {display:inline;position:relative;top:3px;margin:0 -3px 0 0;vertical-align:top;}
.modal_header .pop_tit .hw img {height:15px;transition:height 0.4s;}
.modal_body {position:relative;padding:35px 20px 60px 20px;background:#fff;}
.modal_body .scroll-content {max-height:60vh !important;overflow:auto;}
.btn_pop_close {position:absolute;right:20px;top:20px;width:22px;height:22px;background:url(../images/template/btn_pop_close.png) center / 100% 100% no-repeat;text-indent:-9999px;overflow:hidden;transition:transform 0.4s;cursor:pointer;}
.btn_pop_close:hover {transform:rotate(90deg);}


/* img resize */
.imgs_m{display:block;margin:-20px;background:#f7f8fa;text-align:center;}
.imgs_m img {width:100%;max-width:360px;}
.imgs{display:none;}


/** err_ty **/
.err_ty {position:relative;padding-bottom:100px;text-align:center;}
.err_ty .err_tit {padding-top:195px;color:#009ee3;font-size:72px;line-height:72px;font-weight:600;}
.err_ty .txt_s {padding-top:22px;font-size:48px;font-weight:600;line-height:56px;}
.err_ty .txt {padding-top:25px;font-size:16px;line-height:26px;}
.err_ty .btn_area {margin-top:65px;}
.err_ty .btn_area a {margin:0 10px;}

/** err_ty **/
#wrap_err {position:relative;min-width:320px;padding-top:50px;}
.cont_err{padding:0 35px;}
.err_logo {width:72px;margin:0 auto;}
.err_logo img {width:100%;}
.err_ty {position:relative;padding-bottom:50px;text-align:center;}
.err_ty .err_tit {padding-top:20px;color:#009ee3;font-size:28px;line-height:28px;font-weight:600;}
.err_ty .txt_s {padding-top:11px;font-size:24px;font-weight:600;line-height:30px;}
.err_ty .txt {padding-top:20px;font-size:14px;line-height:20px;}
.err_ty .btn_area {margin-top:25px;}
.err_ty .btn_area a {margin:0;}
.err_ty .btn_area .btn_m{padding:0;margin-bottom:10px;width:calc(100% - 75px);}


/** search result **//* 18.02.05 수정 */
.search_area {padding-top:77px;}
.search_area:before {position:absolute;left:-20px;top:0;width:calc(100% + 40px);height:50px;background:#38393e;content:"";}
.search_r_cont{width:100%;position:relative;height:48px;box-sizing:border-box;}
.search_r_cont input{width:100%;height:45px;padding:0 40px 0 17px;box-sizing:border-box;font-size:14px;color:#dddddd;border:1px solid #ddd;outline:none;transition:all 0.4s;}
.search_r_cont input:focus {border-color:#000;color:#000;}
.search_r_cont .btn_search_r{display:block;position:absolute;right:7px;top:12px;width:22px;height:22px;background:url(../images/contents/btn_search_r.png) center /100% no-repeat;text-indent:-9999em;overflow:hidden;transition:all 0.4s}
.search_r{font-size:16px;font-weight:600;margin:30px 0 22px 0;}
.search_r li{color:#333333;}
.search_list{width:100%;display:table;border:solid #000;border-width:1px 0;}
.search_list .list{border-bottom:1px solid #dddddd;padding:25px 0;}
.search_list .list:last-child{border-bottom:0}
.search_list .list dt{color:#000;font-weight:600;margin-bottom:24px;position:relative;}
.search_list .list dt:after{content:"";display:block;width:13px;height:2px;position:absolute;bottom:-2px;left:0;background:#009ee3;}
.search_list .path {position:relative;margin-top:10px;padding-left:52px;color:#333;font-size:16px;line-height:20px;}
.search_list .path strong {position:absolute;left:0;top:0;text-transform:uppercase;}
.search_list .path a {display:inline-block;position:relative;}
.search_list .path a:before {position:absolute;left:0;bottom:0;width:0;height:1px;background:#009ee3;content:"";transition:width 0.4s;}
.search_list .path a:hover:before {width:100%;}

.search_r_cont input::-webkit-input-placeholder {color:#ccc;}
.search_r_cont input::-moz-placeholder {color:#ccc;}
.search_r_cont input:-ms-input-placeholder {color:#ccc;}
.search_r_cont input::placeholder {color:#ccc;}

.no_search{display:table-cell;vertical-align:middle;padding:50px 0;text-align:center;}
.no_search .img{width:76px;margin:0 auto;padding-bottom:16px;}
.no_search .img img{width:100%;}

/** table_list_box02 **/
.table_list_box02 {position:relative;padding-bottom:60px;}
.table_list_box02 .info_es {margin-bottom:15px;font-size:11px;line-height:11px;text-align:right;}
.table_list_box02 .info_es span {display:inline-block;position:relative;padding-left:33px;}
.table_list_box02 .info_es span:before {position:absolute;left:0;top:50%;width:25px;height:1px;background:#009ee3;content:"";}

/** table_list **/
.table_list .list .mt{margin-top:10px}

/********** Mobile Old **********/
@media all and (max-width:500px) {
/*** Popup ***/
/** Popup Default **/
.modal_wrap {width:calc(100vw - 40px);}



}









/********** Tablet & PC **********/
@media all and (min-width:740px) {
/* txt_info */
.txt_info li:before {top:11px;}
.txt_info02 li:before {top:12px;}


/*** Form Common Style ***/
/* Size */
.w1 {width:245px;}
.w2 {width:310px;}
.w3 {width:360px;}



/*** Tab ***/
/* tab_ty */
.tab_ty {margin:0 0 40px 0;}



/*** Table ***/
/** table_list_box **/
.table_list_box {padding-top:70px;}
.table_list_box .info_es {font-size:12px;line-height:12px;}
.table_list_box .info_es span {padding-left:17px;}
.table_list_box .info_es span:before {width:12px;}

/* table_list */
.table_list {margin:0;}
.table_list .input_ty, .table_list .select_ty {margin:0 0 0 5px;}
.table_list .input_ty:first-child, .table_list .select_ty:first-child {margin:0;}
.table_list .input_ty.fir, .table_list .select_ty.fir {margin:0;}
.table_list .zip_code_area {margin:0 5px 10px 0;padding-left:115px;}


/* chk_agree */
.chk_agree {position:relative;margin:10px 0 0 0;padding:30px 60px;text-align:left;}
.chk_agree p{display:inline-block;width:calc(100% - 40px);margin:0 0 0 5px;font-size:16px;line-height:24px;vertical-align:top;}
.chk_agree label {font-size:16px;line-height:24px;}
.chk_agree a {font-size:16px;line-height:24px;}
.chk_agree .chk_ty {width:20px;height:20px;}

.chk_agree_box {margin:30px 0 0 0;padding:1px 60px 0 60px;}
.chk_agree_box .list dt {margin-bottom:13px;font-size:16px;line-height:22px;}
.chk_agree_box .list dd li {margin-top:13px;line-height:22px;}
.chk_agree_box .list dd li:before {top:21px;}
.chk_agree_box .chk_agree {margin:0 -60px;padding:30px 60px 30px 82px;border-bottom:1px solid #000;}
.chk_agree_box .chk_agree .ez-checkbox {position:absolute;left:60px;top:31px;}




/*** Board ***/
/** board_search **/
.board_search {position:absolute;right:0;top:-8px;margin:0;padding:0;}
.board_search .input_ty {width:250px;}
.board_search .btn {position:static;}


/** board_ty **/
.board_ty .list {width:calc(100% / 2 - 20px);}
.board_ty .list:nth-child(1) > a {background:#009ee3;border-color:#009ee3;}
.board_ty .list:nth-child(2) > a, .board_ty .list:nth-child(5) > a {background:#fff;border:1px solid #ddd;}
.board_ty .list:nth-child(3) > a, .board_ty .list:nth-child(6) > a {background:#f4f4f4;border-color:#f4f4f4;}
.board_ty .list:nth-child(4) > a {background:#002e54;border-color:#002e54;}
.board_ty .hit {display:block;width:100%;}
.board_ty .txt {position:absolute;left:0;top:0;padding:57px 40px;}
.board_ty .txt dt em {font-size:14px;line-height:14px;}
.board_ty .txt dt span {max-height:57px;margin-top:35px;font-size:22px;line-height:28px;overflow:hidden;}
.board_ty .txt dd {max-height:72px;margin-top:10px;font-size:14px;line-height:24px;overflow:hidden;}
.board_ty .emp p {padding:120px 0;}


/** board_view **/
.board_view {margin:0;}
.board_view .list {padding:12px 30px;font-size:15px;line-height:24px;}
.board_view .list.tit {padding:21px 30px 23px 30px;font-size:18px;line-height:28px;}
.board_view .list.tit .info {margin-top:5px;font-size:12px;line-height:12px;}
.board_view .table_cont {padding:40px 30px 50px 30px;}
.board_view .table_cont p {margin-top:30px;}
.board_view .table_cont .dep {padding-top:70px;}
.board_view .table_cont .dep02 {padding-top:30px;}
.board_view .table_cont dt {margin-bottom:-20px;font-size:17px;}
.board_view .table_cont dd {margin-top:30px;}


/* btn_board_sns */
.btn_board_sns {padding:0 20px 50px 20px;text-align:right;}
.btn_board_sns li {margin:0 0 0 10px;}
.btn_board_sns li a {border-width:2px;}


/** paginate **/
.paginate {margin-top:40px;}



/*** Accordian_ty ***/
.accordian_ty {margin:0;}
.accordian_ty .list {font-size:16px;line-height:24px;}
.accordian_ty .list .btn span {height:90px;padding:0 90px 0 30px;}
.accordian_ty .list .btn:after {right:30px;}
.accordian_ty .list .view {;padding:34px 30px 36px 30px;}
.accordian_ty .list .view .mt {margin-top:25px;}
.accordian_ty .list .view .img{padding-top:35px;}
.accordian_ty .list .view .img img{max-width:400px;}

/* faq_list */
.faq_list .list dt {width:135px;margin-top:25px;}
.faq_list .list dt  strong{margin-right:4px;}
.faq_list .list dd{width:calc(100% - 155px);font-size:14px;padding-top:25px;}
.faq_list .list dd:before{content:"";display:block;position:absolute;left:-10px;top:0;width:1px;height:100%;background:#dddddd;padding-bottom:20px;}
.faq_list .list dd .t_box{padding-bottom:20px;width:calc(100% / 3);float:left}
.faq_list .list dd .t_box .noti{position:absolute;bottom:0;right:0;font-size:14px;}

/*** Btn ***/
/* Etc. */
.btn_round {height:40px;padding:0 30px;font-size:14px;line-height:40px;}

/* btn_more */
.btn_more:after {bottom:-8px;}




/*** Etc ***/
/* player_cont */
.player_cont .movie .hit {/*height:600px;*/}
.player_cont .movie .btn_movie_play em {width:90px;height:90px;margin:-45px 0 0 -45px;}




/*** Popup ***/
/** Popup Default **/
.modal_header {padding:14px 40px;}
.modal_header .pop_tit {padding:8px 0;font-size:20px;line-height:20px;}
.modal_header .pop_tit .hw {top:-1px;top:0 \9;}
.modal_header .pop_tit .hw img {height:19px;}
*::-ms-backdrop, .modal_header .pop_tit .hw {top:0px;}
.modal_body {padding:40px 40px 60px 40px;}
.btn_pop_close {right:40px;top:20px;}


/* img resize */
.imgs_m{display:none;}
.imgs{display:block;}
.imgs img{width:100%;}

/** err_ty **/
#wrap_err{padding-top:80px;}
.err_logo {width:142px;}
.cont_err{padding:0 50px;}
.err_ty {padding-bottom:70px;}
.err_ty .err_tit {padding-top:50px;font-size:52px;line-height:52px}
.err_ty .txt_s {padding-top:12px;font-size:34px;line-height:42px;}
.err_ty .txt {padding-top:15px;font-size:14px;line-height:20px;}
.err_ty .btn_area {margin-top:45px;}
.err_ty .btn_area .btn_m {margin-bottom:10px;width:calc(100% - 210px);}


/** search result **//* 18.02.05 수정 */
.search_area:before {display:none;}

/*** Table ***/
/** table_list_box02 **/
.table_list_box02 {padding-bottom:80px;}
.table_list_box02 .info_es {font-size:12px;line-height:12px;}
.table_list_box02 .info_es span {padding-left:17px;}
.table_list_box02 .info_es span:before {width:12px;}
}






@media all and (min-width:920px) {
/*** Table ***/
/** table_list_box **/
.table_list_box02 {padding-bottom:120px;}
.table_list_box .info_es {font-size:14px;line-height:14px;}

/* table_list */
.table_list {padding:0;}
.table_list .list {position:relative;min-height:40px;margin-top:0;padding:15px 0;border-top:1px solid #eee;}
.table_list .list:first-child {border-top:0;}
.table_list .list dt {float:left;width:230px;margin:8px 0 0 0;padding:0 20px;box-sizing:border-box;}
.table_list .list dt.ico_es:after {width:12px;}
.table_list .list dd {float:right;width:calc(100% - 250px);padding-right:20px;font-size:0;}
.table_list .list:after {display:block;clear:both;height:0;content:"";overflow:hidden;}
.table_list .input_ty, .table_list .select_ty {margin:0 0 0 10px;}

/** table_list_box02 **/
.table_list_box02 .info_es {font-size:14px;line-height:14px;}
}











/********** PC **********/
@media all and (min-width:1000px) {
/*** Common ***/
/** Etc. **/
.br {display:block;}
.mbr {display:inline-block;}
.txt_w_only {display:block;}
.txt_w_only02 {display:inline;}

.img_w {display:block;}
.img_m {display:none;}



/*** Tab ***/
/* tab_ty */
.tab_ty {margin:0 0 60px 0;}
.tab_ty a.bold_t{font-size:22px;}



/*** Table ***/
/** table_ty  **/
.table_ty {margin:0;}
.table_ty th, .table_ty td {padding:10px;font-size:16px;font-weight:normal;line-height:20px;}
.table_ty tbody th {height:35px;}
.table_ty tbody td {height:30px;}
.table_ty .left {padding-left:10px;}
.table_ty .right {padding-right:10px;}


/** table_list_box **/
/* table_list */
.table_list .list dt {width:320px;padding:0 60px;font-size:16px;line-height:24px;}
.table_list .list dd {width:calc(100% - 380px);padding-right:60px;}
.table_list .inner {font-size:16px;line-height:24px;}
.table_list .zip_code_area {margin:0 10px 10px 0;padding-left:110px;}



/*** Board ***/
/* board_ty */
.board_ty {margin:-30px 0 0 -30px;}
.board_ty .list {width:calc(100% / 3 - 30px);margin:30px 0 0 30px;}
.board_ty .list:nth-child(1) > a {background:#009ee3;border-color:#009ee3;}
.board_ty .list:nth-child(2) > a, .board_ty .list:nth-child(6) > a {background:#fff;border:1px solid #ddd;}
.board_ty .list:nth-child(3) > a, .board_ty .list:nth-child(4) > a {background:#f4f4f4;border-color:#f4f4f4;}
.board_ty .list:nth-child(5) > a {background:#002e54;border-color:#002e54;}
.board_ty .list:nth-child(1) .txt, .board_ty .list:nth-child(5) .txt {color:#fff;}
.board_ty .list:nth-child(1) .txt dt em, .board_ty .list:nth-child(5) .txt dt em {color:#fff;}
.board_ty .list:nth-child(1) > a:before, .board_ty .list:nth-child(5) > a:before {background:#fff;}
.board_ty .list:nth-child(1) > a:after, .board_ty .list:nth-child(5) > a:after {background:#fff;}
.board_ty .list:nth-child(1) > a .txt:before, .board_ty .list:nth-child(5) > a .txt:before {background:#fff;}
.board_ty .list:nth-child(1) > a .txt:after, .board_ty .list:nth-child(5) > a .txt:after {background:#fff;}
.board_ty .list:nth-child(4) .txt {color:#000;}
.board_ty .list:nth-child(4) .txt dt em {color:#999;}
.board_ty .list:nth-child(4) > a:before {background:#ccc;}
.board_ty .list:nth-child(4) > a:after {background:#ccc;}
.board_ty .list:nth-child(4) > a .txt:before {background:#ccc;}
.board_ty .list:nth-child(4) > a .txt:after {background:#ccc;}


/** board_view **/
.board_view .list {padding:17px 60px;font-size:16px;line-height:26px;}
.board_view .list.tit {padding:26px 60px 28px 60px;font-size:20px;line-height:30px;}
.board_view .list.tit .info {margin-top:10px;font-size:14px;line-height:14px;}
.board_view .table_cont {padding:60px 60px 70px 60px;}

/* btn_board_sns */
.btn_board_sns {padding:70px 60px;text-align:right;}
.btn_board_sns li a {width:50px;height:50px;}



/*** Accordian_ty ***/
.accordian_ty .list .btn span {padding:0 140px 0 60px;}
.accordian_ty .list .btn:after {right:60px;}
.accordian_ty .list .view {padding:34px 60px 36px 60px;}
.accordian_ty .list .view .img{padding-top:45px;}
.accordian_ty .list .view .img img{max-width:538px;}

/* faq_list */

.faq_list .list dt {width:210px;padding-left:50px}
.faq_list .list dt  strong{display:inline;margin-right:8px;}
.faq_list .list dd{width:calc(100% - 300px);padding-top:20px;}
.faq_list .list dd:before{left:-45px;}
.faq_list .list dd .b1 li{padding-left:20px;}
.faq_list .list dd .b1 li:before{left:8px;}



/*** Btn ***/
/* btn size */
.btn_b {height:60px;padding:0 40px;font-size:18px;line-height:60px;}
.btn_m {height:50px;padding:0 45px;font-size:14px;line-height:50px;}

/* Etc. */
.btn_arrow {padding-right:70px;}
.btn_arrow span {right:40px;transform:scale(1);}

/* btn_line */
.btn_line {font-size:14px;line-height:18px;}

/* btn_download */
.btn_download {width:300px;margin:60px auto 0 auto;}
.btn_download .btn {height:60px;padding:0 30px;font-size:20px;line-height:60px;}
.btn_download .btn span {display:block;position:absolute;right:17px;top:50%;width:20px;height:20px;margin-top:-5px;transform:scale(1);transform-origin:20% 20%;transition:transform 0.4s;}
.btn_download_list {top:60px;}
.btn_download_list li a {padding:0 30px;font-size:16px;}
.btn_download_list li a:after {width:18px;height:15px;margin-top:-7px;}
.btn_download.on .btn span {transform:rotate(-180deg) scale(1);}
.btn_download.only {margin:60px auto 0 auto;}




/*** Popup ***/
/** Popup Default **/
.modal_header {padding:19px 50px;}
.modal_header .pop_tit {font-size:26px;line-height:26px;}
.modal_header .pop_tit .hw {top:-1px;top:0 \9;}
.modal_header .pop_tit .hw img {height:25px;}
*::-ms-backdrop, .modal_header .pop_tit .hw {top:1px;}
.modal_body {padding:60px 50px 80px 50px;}
.btn_pop_close {right:50px;top:30px;}


/** err_ty **/
.err_ty {padding-bottom:100px;}
.err_ty .err_tit {padding-top:60px;font-size:72px;line-height:72px;}
.err_ty .txt_s {padding-top:38px;font-size:48px;line-height:50px;}
.err_ty .txt {padding-top:25px;font-size:16px;line-height:26px;}
.err_ty .btn_area {margin-top:70px;}
.err_ty .btn_area .btn_m {width:250px;margin:0 10px;}


/** search result **//* 18.02.05 수정 */
.cont_area .search_area{padding-top:90px;}
.search_r_cont{width:640px;height:55px;margin-bottom:60px;margin:0 auto}
.search_r_cont input{height:52px;font-size:16px;}
.search_r_cont .btn_search_r{right:15px;top:10px;width:29px;height:31px;}
.search_r{font-size:26px;margin:60px 0 16px 0;}
.search_r li {float:left;margin-left:8px;}
.search_r li:first-child {margin-left:0;}
.search_r:after{content:"";clear:both;display:block}
.search_list .list{padding:32px 60px;}
.search_list .list:last-child{border-bottom:0}
.search_list .list dt{margin-bottom:6px;}
.search_list .path {margin-top:15px;}

.no_search{padding:80px 0;}
.no_search dd{display:inline;}
.no_search .img{width:151px;padding-bottom:20px;}
}









/********** PC Max **********/
@media all and (min-width:1311px) {

}





/*** Animation ***/
@keyframes fade {
0% {opacity:0;}
100% {opacity:1;}
}
@keyframes fadeOut {
0% {opacity:1;}
100% {opacity:0;}
}
@keyframes fadeOutheight {
0% {opacity:1;height:600px;}
100% {opacity:0;height:0;}
}
@keyframes width {
0% {width:0;}
100% {width:100%;}
}
@keyframes width50 {
0% {left:50%;width:0;}
100% {left:0;width:100%;}
}
@keyframes height {
0% {height:0;}
100% {height:100%;}
}
@keyframes scale {
0% {transform:scale(1.05);}
100% {transform:scale(1);}
}
@keyframes blur{
0% {filter:blur(10px);opacity:0;}
100% {filter:blur(0px);opacity:1;}
}
@keyframes moviePlay {
0% {transform:translateX(0);}
50% {transform:translateX(100%);}
51% {transform:translateX(-100%);}
100% {transform:translateX(0);}
}
@keyframes imgAni {
0% {transform:translateX(-70px);opacity:0;}
100% {transform:translateX(0);opacity:1;}
}
@keyframes txtAni {
0% {transform:translateY(30px);opacity:0;}
100% {transform:translateY(0);opacity:1;}
}
@keyframes txtAni02 {
0% {transform:translateY(-10px);opacity:0;}
100% {transform:translateY(0);opacity:1;}
}
@keyframes arrow {
0% {transform:translateX(0);}
60% {transform:translateX(7px);}
100% {transform:translateX(0);}
}
